@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Instrument Serif", serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: brown;
  box-shadow: 0 5px 6px rgb(34, 34, 34);
}

nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 6rem;
  height: 5rem;
}

ul.navegación {
  list-style-type: none;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.navegación li {
  display: inline-block;
}

ul.navegación li a {
  text-decoration: none;
  padding: 1rem;
  background-color: pink;
  border-radius: 50%;
}

@media screen and (max-widht: 600px) {
  ul.navegación li a {
    display: block;
    width: 100px;
  }
}
ul.navegación li a:hover {
  background-color: rgb(254, 170, 184);
}

a:visited {
  background-color: darkslategrey;
  color: #999;
}

a:link {
  background-color: aqua;
  color: darkslateblue;
}

a:hover {
  font-weight: bold;
  padding: 20px;
  color: azure;
}

a:active {
  background-color: yellow;
  color: black;
}

div:not(.contenedor_logo) {
  border: solid red 5px;
  width: -moz-fit-content;
  width: fit-content;
}

.contenedor_logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria img {
  width: 30%;
  margin: 5px;
  border: solid 2px white;
  border-radius: 2rem;
  opacity: 0.5;
  box-shadow: 5px 5px 6px red;
}

.galeria img:hover {
  height: 500px;
  width: 500px;
  opacity: 1;
}

.contenedor_formulario {
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  background-color: brown;
  box-shadow: 0 -5px 6px rgb(34, 34, 34);
  height: 9vh;
}

h1 {
  text-align: center;
  color: red;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2.impact {
  font-family: impact, sans sans-serif;
}

section h2 {
  color: red;
}

.alto_y_ancho {
  background-color: violet;
  width: 400px;
  height: 250px;
  overflow: hidden;
}

.centrar_texto {
  font-size: 7rem;
  text-align: center;
}

.form_soporte {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.form_soporte div {
  margin: 5px 0;
}

.contenedor_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "Header " "Main  " "Section " "Footer  ";
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 3vh;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
}
.contenedor_grid .container {
  width: 100%;
}

header {
  grid-area: Header;
  width: auto;
}

main {
  grid-area: Main;
  width: auto;
}

section {
  grid-area: Section;
  width: auto;
}

footer {
  grid-area: Footer;
  width: auto;
}

@media screen and (min-width: 320px) {
  .contenedor_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "Header " "Main  " "Section " "Footer  ";
  }
  .contenedor_grid header.container {
    width: -moz-fit-content;
    width: fit-content;
  }
  .contenedor_grid ul.navegación {
    justify-content: flex-end;
  }
  .contenedor_grid .contenedor_logo {
    width: -moz-fit-content;
    width: fit-content;
  }
  .contenedor_grid .centrar_texto {
    font-size: 2rem;
  }
  .contenedor_grid .galeria {
    flex-direction: column;
    align-content: center;
  }
  .contenedor_grid section.Entregamos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contenedor_grid div.contenedor_grid {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 768px) {
  .contenedor_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "Header " "Main  " "Section " "Footer  ";
  }
}
@media screen and (min-width: 1200px) {
  .contenedor_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "Header " "Main  " "Section " "Footer  ";
  }
}
.acercade_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "Header " "h1  " "h2 " "Footer ";
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 3vh;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
}
.acercade_grid .container {
  width: auto;
}

header {
  grid-area: Header;
  width: auto;
}

h1 {
  grid-area: h1;
  width: auto;
}

h2 {
  grid-area: h2;
  width: auto;
}

footer {
  grid-area: Footer;
  width: auto;
}

@media screen and (min-width: 320px) {
  .acercade_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "Header " "h1  " "h2 " "Footer  ";
  }
  .acercade_grid header.container {
    width: -moz-fit-content;
    width: fit-content;
  }
  .acercade_grid ul.navegación {
    justify-content: flex-end;
  }
  .acercade_grid .contenedor_logo {
    width: -moz-fit-content;
    width: fit-content;
  }
  .acercade_grid h2 {
    font-size: 3rem;
  }
  .acercade_grid div.acercade_grid {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.contactanos_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "Header" "Main" "Footer ";
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 3vh;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
}
.contactanos_grid .container {
  width: auto;
}

header {
  grid-area: Header;
  width: auto;
}

main {
  grid-area: Main;
  width: auto;
}

footer {
  grid-area: Footer;
  width: auto;
}

@media screen and (min-width: 320px) {
  .contactanos_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "Header " "Main  " "Footer  ";
  }
  .contactanos_grid header.container {
    width: -moz-fit-content;
    width: fit-content;
  }
  .contactanos_grid ul.navegación {
    justify-content: flex-end;
  }
  .contactanos_grid .contenedor_logo {
    width: -moz-fit-content;
    width: fit-content;
  }
  .contactanos_grid h1 {
    font-size: 1rem;
  }
  .contactanos_grid div.contactanos_grid {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.instrumentos_grid {
  display: grid;
  grid-template-columns: 15vw 64vw auto;
  grid-template-rows: 15vh 20vh 20vh 140vh 5vh 9vh;
  grid-template-areas: "Header  Header   Header " "Main    Main     Main " "Main    Main     Main " "Main    Main     Main " "Section Section  Section" "Footer  Footer   Footer";
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 3vh;
  justify-items: stretch;
  align-items: stretch;
}
.instrumentos_grid .container {
  width: auto;
}

header {
  grid-area: Header;
}

main {
  grid-area: Main;
}

section {
  grid-area: Section;
}

footer {
  grid-area: Footer;
}

.marcas_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "Header " " h1 " "ol " "Footer ";
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 3vh;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
}
.marcas_grid .container {
  width: auto;
}

header {
  grid-area: Header;
  width: auto;
}

h1 {
  grid-area: h1;
  width: auto;
}

ol {
  grid-area: ol;
  width: auto;
}

footer {
  grid-area: Footer;
  width: auto;
}

@media screen and (min-width: 320px) {
  .marcas_grid {
    display: grid;
    grid-template-columns: fit-content;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "Header " "h1  " "ol " "Footer  ";
  }
  .marcas_grid header.container {
    width: -moz-fit-content;
    width: fit-content;
  }
  .marcas_grid ul.navegación {
    justify-content: flex-end;
  }
  .marcas_grid .contenedor_logo {
    width: -moz-fit-content;
    width: fit-content;
  }
  .marcas_grid .centrar_texto1 {
    font-size: 2rem;
  }
  .marcas_grid ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
  }
  .marcas_grid div.marcas_grid {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 720px) {
  .marcas_grid {
    display: grid;
    grid-template-columns: 150%;
    grid-template-rows: 10vh auto 50vh 9vh;
    grid-template-areas: "Header " "h1  " "ol " "Footer  ";
  }
  .marcas_grid header.container {
    width: 150%;
  }
  .marcas_grid ul.navegación {
    justify-content: flex-end;
  }
  .marcas_grid .contenedor_logo {
    width: 150%;
  }
  .marcas_grid .centrar_texto1 {
    font-size: 2rem;
  }
  .marcas_grid ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    font-size: 2rem;
    width: auto;
  }
  div.marcas_grid {
    width: 150%;
  }
}/*# sourceMappingURL=style.css.map */