@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Instrument Serif", serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: brown;
  box-shadow: 0 5px 6px rgb(34, 34, 34);
}

nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 6rem;
}

ul.navegación {
  list-style-type: none;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.navegación li {
  display: inline-block;
}

ul.navegación li a {
  text-decoration: none;
  padding: 1rem;
  background-color: pink;
  border-radius: 50%;
}

@media screen and (max-widht: 600px) {
  ul.navegación li a {
    display: block;
    width: 100px;
  }
}
ul.navegación li a:hover {
  background-color: rgb(254, 170, 184);
}

a:visited {
  background-color: darkslategrey;
  color: #999;
}

a:link {
  background-color: aqua;
  color: darkslateblue;
}

a:hover {
  font-weight: bold;
  padding: 20px;
  color: azure;
}

a:active {
  background-color: yellow;
  color: black;
}

div:not(.contenedor_logo) {
  border: solid red 5px;
}

.contenedor_logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria img {
  width: 30%;
  margin: 5px;
  border: solid 2px white;
  border-radius: 2rem;
  opacity: 0.5;
  box-shadow: 5px 5px 6px red;
}

.galeria img:hover {
  height: 500px;
  width: 500px;
  opacity: 1;
}

.contenedor_formulario {
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  background-color: brown;
  box-shadow: 0 -5px 6px rgb(34, 34, 34);
  height: 9vh;
}

h1 {
  text-align: center;
  color: red;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2.impact {
  font-family: impact, sans sans-serif;
}

section h2 {
  color: red;
}

.alto_y_ancho {
  background-color: violet;
  width: 400px;
  height: 250px;
  overflow: hidden;
}

.centrar_texto {
  font-size: 7rem;
  text-align: center;
}

.form_soporte {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.form_soporte div {
  margin: 5px 0;
}

.contenedor_grid {
  display: grid;
  grid-template-columns: 15vw 64vw 15vw;
  grid-template-rows: 15vh 20vh 20vh 135vh 15vh 15vh;
  grid-template-areas: "Header  Header   Header " "Main    Main     Main " "Main    Main     Main " "Main    Main     Main " "Section Section  Section" "Footer  Footer   Footer";
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 3vh;
  justify-items: stretch;
  align-items: stretch;
}

header {
  grid-area: Header;
}

main {
  grid-area: Main;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}/*# sourceMappingURL=style.css.map */