$paleta_de_colores:(
    primario:red,
    secundario:black,
    terciario:yellow,
);

$colores_extra:(
    blanco:white,
    rosa:pink,
    rosahover:rgb(254, 170, 184),
);

$colores_darkslate:(
    gris:darkslategrey,
    azuloscuro:darkslateblue,
    blancoazure:azure,

);

$colores_compuestos:(
    marron:brown,
    acua:aqua,
    violeta:violet,
);
$colores_rgb:(
    primero: rgb(10, 10, 60),
    segundo:#999 ,
    tercero:rgb(34, 34, 34),
);