h1 {

    text-align: center;

    color: red;

    font-size: 50px;

    margin-top: 50px;

    margin-bottom: 100px;

}

h2.impact {

    font-family: impact, sans sans-serif;

}



section h2 {

    color: red
}



.alto_y_ancho {

    background-color: violet;

    width: 400px;

    height: 250px;

    overflow: hidden;

}







.centrar_texto {

    font-size: 7rem;

    text-align: center;

}
