footer {

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    background-color: map-get($colores_compuestos, marron );

    box-shadow: 0 -5px 6px map-get($colores_rgb, tercero);

    height: 9vh;

}