nav {

    width: 80%;

    display: flex;

    justify-content: flex-end;

}

.logo {

    width: 6rem;



}





ul.navegación {

    list-style-type: none;

    display: flex;

    width: 35%;

    justify-content: space-evenly;

    align-items: center;

}



.navegación li {

    display: inline-block;



}



ul.navegación li a {

    text-decoration: none;

    padding: 1rem;

    background-color: map-get($colores_extra, rosa);

    border-radius: 50%;

}

@media screen and (max-widht:600px) {

    ul.navegación li a {
        display: block;

        width: 100px;
    }

}

ul.navegación li a:hover {

    background-color: map-get($colores_extra, rosahover);



}



a:visited {

    background-color: map-get($colores_darkslate, gris);

    color: map-get($colores_rgb,segundo);



}

a:link {

    background-color: map-get($colores_compuestos, acua);

    color: map-get($colores_darkslate, azuloscuro);

}

a:hover {

    font-weight: bold;

    padding: 20px;

    background-color: map-get($colores_rgb,terciario);

    color: map-get($colores_darkslate, blancoazure);

}

a:active {

    background-color: map-get($paleta_de_colores, terciario);

    color: map-get($paleta_de_colores, secundario);

}



div:not(.contenedor_logo) {

    border: solid map-get($paleta_de_colores, primario ) 5px;

}