.acercade_grid {

    display: grid;

    grid-template-columns: auto;

    grid-template-rows: auto auto auto auto;

    grid-template-areas: "Header "

        "h1  "

        "h2 "

        "Footer ";

    column-gap: 3vw;

    row-gap: 3vh;

    justify-items: stretch;

    align-items: stretch;
    width:100%;

    .container {
        width: auto;
    }



}

header {

    grid-area: Header;
    width:auto;

}

h1 {

    grid-area: h1;
    width:auto;
}

h2 {

    grid-area: h2;
    width:auto;
}

footer {

    grid-area: Footer;
    width:auto;
}

@media screen and (min-width: 320px) {
    .acercade_grid {

        display: grid;
    
        grid-template-columns: auto;
    
        grid-template-rows: auto auto auto auto;
    
        grid-template-areas: "Header "
    
            "h1  "
    
            "h2 "
    
            "Footer  ";
            header.container {
                width:100%;
            }
            ul.navegación{
            
                justify-content: flex-end;
            }
            .contenedor_logo{
                width: fit-content;
            }
            h2{
                font-size: 3rem;
            }

            div.acercade_grid{
                width: fit-content;
            }
}
}

@media screen and (min-width: 720px) {
    .acercade_grid {

        display: grid;

        grid-template-columns: 100%;

        grid-template-rows: 10vh auto 55vh 9vh;

        grid-template-areas: "Header "

            "h1  "

            "h2"

            "Footer  ";

        header.container {
            width:auto;
        }

        ul.navegación {

            justify-content: space-evenly;
            width:110%;
        }

        .contenedor_logo {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 50%;
        }


        nav{
            width: 50%;
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3rem;
        }

    }

    div.acercade_grid {
        width: 100%;
    }
}