.contenedor_grid {

    display: grid;

    grid-template-columns: auto;

    grid-template-rows: auto auto auto auto;

    grid-template-areas: "Header "

        "Main  "

        "Section "

        "Footer  ";

    column-gap: 3vw;

    row-gap: 3vh;

    justify-items: stretch;

    align-items: stretch;

    width: 100%;

    .container {
        width: 100%;
    }


}

header {

    grid-area: Header;
    width:auto;

}

main {

    grid-area: Main;
    width:auto;

}

section {

    grid-area: Section;
    width:auto;

}

footer {

    grid-area: Footer;
    width:auto;
}

@media screen and (max-width: 760px) {
    .contenedor_grid {

        display: grid;
    
        grid-template-columns: auto;
    
        grid-template-rows: auto auto auto auto;
    
        grid-template-areas: "Header "
    
            "Main  "
    
            "Section "
    
            "Footer  ";
}

@media screen and (min-width: 760px) {
    .contenedor_grid {

        display: grid;
    
        grid-template-columns: auto;
    
        grid-template-rows: auto auto auto auto;
    
        grid-template-areas: "Header "
    
            "Main  "
    
            "Section "
    
            "Footer  ";
}

