.marcas_grid {

    display: grid;

    grid-template-columns: auto;

    grid-template-rows: auto auto auto auto;

    grid-template-areas: "Header "

        " h1 "

        "ol "

        "Footer ";

    column-gap: 3vw;

    row-gap: 3vh;

    justify-items: stretch;

    align-items: stretch;

    width: 100%;

    .container {
        width: auto;
    }


}

header {

    grid-area: Header;
    width:auto;

}

h1 {

    grid-area: h1;
    width:auto;

}

ol {

    grid-area: ol;
    width:auto;
}

footer {

    grid-area: Footer;
    width:auto;

    div:not(.contenedor_logo) {
        width:auto;
    }

}

@media screen and (min-width: 320px) {
    .marcas_grid {

        display: grid;
    
        grid-template-columns: auto;
    
        grid-template-rows: auto auto auto auto;
    
        grid-template-areas: "Header "
    
            "h1  "
    
            "ol "
    
            "Footer  ";

            header.container {
                width:100%;
            }
            ul.navegación{
            
                justify-content: flex-end;
            }
            .contenedor_logo{
                width: fit-content;
            }
            .centrar_texto1{
                font-size: 2rem;
            }

            ol{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                font-size: 2rem;
            }
            div.marcas_grid{
                width:fit-content;
            }
}
}

@media screen and (min-width: 720px) {
    .marcas_grid {

        display: grid;
    
        grid-template-columns: 100%;

        grid-template-rows: 25vh 25vh 25vh 25vh;

        grid-template-areas: "Header "

        "h1  "

        "ol "

        "Footer ";

        header.container {
            width:auto;
        }
        ul.navegación{
        
            justify-content: flex-end;
        }
        .contenedor_logo{
            width: 100%;
        }
        .centrar_texto1{
            font-size: 2rem;
        }

        ol{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: stretch;
            justify-content: space-evenly;
            align-items: center;
            font-size: 2rem;
        }

        div.marcas_grid{
            width: 100%;

        }


    }}